
/* MAIN SECTION */


.main{
    display: flex;
    flex-direction: column;
    
}
.nav{
    display: flex; 
    position: fixed;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: first baseline;
    flex-direction: column;
   color: white;
   height: 7rem;
   background-color: red;
   width: 42%;
}

.home{
    margin : .5rem 1rem 1.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;    
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1rem;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 8px 30px;
    color: white;
}
.header ul li a:hover{
    background-color: rgba(49, 46, 46, .5);
}

.mybox{
    display: flex;
    
}
.myimg{
    width: 3rem;
    border-radius: 50%;

}
textarea{
    color: white;
    font-size: 1rem;
    border-color: rgba(29, 155, 240);

  
}

textarea::placeholder{
    font-size: 1.2rem;
   padding: 10px;
   

}