
@media(max-width: 1213px) {
    .container{
        max-width: 1000px !important;
        margin: 0 auto;
    }

    .aside-icon div{
        display: none;
    }
    .main{
        margin-left: 4rem;
    }
    .post-heading{
        width: 527px;
    }
    .centre,
    .dot{
        display: none;
    }
}

@media(max-width: 998px) {
    .container{
        max-width: 700px !important;
        margin: 0 auto;
    }

    .aside-right{
        display: none;
    }
    .post-heading{
        width: 620px;
    }
}
@media(max-width: 702px) {
    .post-heading{
        position: static;
        height: 4rem;
        display: flex;
        width: 100%;
    }
   
    .hidden{
        padding-top: 1rem;
    }
   
   



}
