@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    
}

body{
    position: fixed;
    background-color: rgba(0, 0, 0);
    overflow: hidden;
}

 /* =========================================================================================ASIDE LEFT ===================================
====================================================================================================== */

#twitter{
    padding-top: 1rem;
    font-size: 1.7rem;
    user-select: none;

}
#twitter:hover{
    background-color: none;
}
.aside-icon{
    display: flex;
    padding-bottom: 1.8rem;
    color: rgb(224, 213, 213);
    font-weight: thin;
    outline-width: 1px;
  
}
.create{
    display: none;
    width: 5rem;
    color: rgb(224, 213, 213);
}
.aside1{
    padding-left: 5rem;
    align-items: center;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
   
}
.aside-left{
    z-index: 1000;
    width: 28%;
}


i{
    padding-right: 1.3rem;
  
}

.aside2{
    padding-top: 1rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
   color:  rgb(224, 213, 213);
   user-select: none;
}

.profile-cont img{
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.centre{
    margin-right: 1.4rem;
}

.aside-btn button{
    padding: .6rem 4.5rem;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(29, 155, 240);
    border-color: rgba(29, 155, 240);
    color: white;
    border: none;
    cursor: pointer;
}
.unique-name{
    color: rgb(141, 131, 131);
}


/* #notify{
position: relative;
}

.number{
position: absolute;
top: 0;
background-color:  rgba(29, 155, 240);
width: 20px;
padding: 1px 1px 1px 6px ;
border-radius: 70%;
top: 13.7rem;
font-size: 14px;
height: 1rem;
right: 15.6rem;
color: white;
border: none;
} */

/* ========================================================================================= MAIN  ===================================
====================================================================================================== */

.main{
    display: flex;
    flex-direction: column;
    width: 44%;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    border-left: .2rem solid  rgb(32,35,39);
    border-right: .2rem solid  rgb(32,35,39);
    /* background-color: blueviolet; */
    
}
.main::-webkit-scrollbar{
    width: 10px
}

.main::-webkit-scrollbar-track{
    background-color: white;
}

.main::-webkit-scrollbar-thumb{
    background: rgba(29, 155, 240);

}


.home{
    margin : .5rem 1rem 1.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;  
    z-index: 2000; 
    position: fixed;
}


.you{
 border-bottom: .3rem solid  rgba(29, 155, 240);
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.658);
    font-size: 1rem;
    margin: 0 auto;
    border-bottom: .2rem solid  rgb(32,35,39);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 42%;
    height: 7rem;
    padding-top: 0;
    padding-bottom: 0;
    backdrop-filter: blur(10px);  /* BACKDROP-FILTER */
    z-index: 1000;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
   
}
.header ul li{
    list-style: none;
}
.header ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 8px 30px;
    color: white;
}
.header ul li a:hover{
    background-color: rgba(49, 46, 46, .5);
}

.pic-container{
    padding-right: 1rem;
    padding-left: .7rem;
}

.mybox{
    width: 100%;
   
}
.mybox:focus-within .audience


.new-update{
    display: none;
}
.new-update button{
    display: none;
    background: transparent;
    color: rgba(29, 155, 240);
    padding: .5rem .4rem .5rem .6rem;
    border-radius: 1rem;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    border: .1rem solid  rgba(75, 70, 70, 0.5);
}
.mybox:focus-within .new-update button{
    display: block;
}
.audience button span{
    padding-left: .5rem;
}

.happening textarea{
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
}
.myimg{
    width: 3rem;
    border-radius: 50%;

}

textarea::placeholder{
    font-size: 1.2rem;
    padding-top: 1rem;
    
    
}

.hidden{
    display: flex;
    border-bottom: .2rem solid rgb(32,35,39);
    padding-top: 7rem;
}

.everyone{
    color: rgba(29, 155, 240);
    font-size: 1rem ;
    text-align: start;
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: none;
}
.mybox:focus-within .everyone{
    display: block;
}
.border{
    border-bottom: 2px  solid rgb(32,35,39);
    display: none;

}
.mybox:focus-within .border{
    display: block;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  rgba(29, 155, 240);
    padding: .5rem;
    background: transparent;

}

.main-btn button{
    padding: .7rem 1rem;
    border-radius: 1.3rem;
   background-color:  rgba(29, 155, 240);
   color: rgb(228, 215, 215);
   font-weight: bold;
}
.show-tweet{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-bottom: .2rem solid  rgb(32,35,39);
    color:  rgba(29, 155, 240);
}
#contents{
    display: flex;
    color: white;
    border-bottom: .1rem solid  rgba(75, 70, 70, 0.5);
    padding-bottom: .5rem;
}

.logo img{
    width: 3rem;
    margin: .3rem 0 0 1rem;
    border-radius: 2rem;
}
.line1{
    display: flex;
   align-items: center;
   padding: .2rem  1rem;
}
.line1 a{
    color: white;
    text-decoration: none;
}
.line1 p{
    padding: 0 .4rem 0 0;
    text-align: justify;
}
#new4{
    padding-left: 15rem;
}
#new1,
#new2,
#new5{
    padding-left: 10rem;
}

#new3{
    padding-left: 5rem;
}
.reduce{
    width: 90%;
    border-radius: 1rem;
    margin-left: 1rem`;
}
.line2{
    padding: .2rem  1rem;
    align-items: center;
}

.line3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.react{
    text-decoration: none !important;
    color: rgb(121, 107, 107);
    background: none;
    display: flex;
    align-items: center;
    border: none;
}
.react:hover{
    color: rgb(145, 137, 137);
}
.react i{
    transition: .3s;
    font-size: 1rem;
    padding: .5rem;
}
.insert img{
    width: 24px;
}

/* =========================================================================================ASIDE RIGHT ===================================
====================================================================================================== */



.aside-right{
    width: 28%;
    /* height: 100vh; */
   /*  display: flex;
    flex-direction: column; */
    /* overflow-y: scroll; */
    padding: 1rem;
    overflow-x: hidden;
    position: relative;
    background-color: black;
}
.aside-right::-webkit-scrollbar{
    width: 10px;
}

.aside-right::-webkit-scrollbar-track{
    background-color: white;
}

.aside-right::-webkit-scrollbar-thumb{
    background: rgba(29, 155, 240);

}

.search-bar{
    width: 90%;
    max-width: 700px;
    background-color: rgb(32,35,39);
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
   
 

   
   
    
}
.search-bar:focus-within{
    outline: 1px solid rgba(29, 155, 240);
}

.search-bar:focus-within button{
    color: rgba(29, 155, 240);
}

.search-bar input{
    background: transparent;
    flex: 1;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;

}

.search-bar button{
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    color: rgb(119, 108, 108);
    font-size: 1rem;
}


.search button{
    margin-left: 5px;
    width: 30px;
 /*    margin-right: -9px; */
    border-radius: 5px;
    border: none;
    outline: none;
    
    
}

.search-box{
    padding-right: 9rem;
    border-radius: 100px;
    margin-left: -2px;
   
    
  
}
.middle-aside-right{
    background-color: black;
    height: 89vh;
    overflow-y: scroll;
}
.middle-aside-cont{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color:rgb(32,35,39);
    margin-right: 1rem;
}
.middle-aside-right::-webkit-scrollbar{
    width: 10px;
}

.middle-aside-right::-webkit-scrollbar-track{
    background-color: white;
}

.middle-aside-right::-webkit-scrollbar-thumb{
    background: rgba(29, 155, 240);

}

.middle-aside-cont h3{
    color: rgb(231,233,234);
    padding-bottom: .9rem;
    padding: .3rem 1rem 0 ;
}

.trend-cont{
    display: flex;
    justify-content: space-between;
    padding: .3rem 1rem;
    
}

.flex{
    margin-bottom: 8px;

}

.flex div{
    padding-bottom: .2rem;
}

.flex .trends{
    color: rgb(231,233,234);
}
.statistics,
.title{
    font-size: .9rem;
    color: rgb(82,86,91);
}

.dots{
    color: white;
}



.show-more{
    padding: .6rem 1rem;
}

.show-more a{
    color:  rgba(29, 155, 240);
    text-decoration: none;
}

.follow-cont{
    background-color:rgb(32,35,39);
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem .5rem;
    margin-right: 1rem;
}
.follow-cont h3{
    color: white;
    font-size: 1.3rem;
}

.profile{
   display: flex; 
   align-items: center;
   /* justify-content: space-between; */
}
.padding1{
    padding-right: .4rem;
}
.padding2{
    padding-right: 5rem;
}
.padding3{
    padding-right: 1.7rem;
}


.img-cont img{
    width: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.name{
    color: white;
    font-size: 1rem;

}
.unique-name{
    font-size: .9rem;
}

.follow-btn{
    display: flex;
    padding: .5rem .8rem;
    border-radius: 1rem;
   font-size: .9rem;
   font-weight: bold;
}
.show-more2{
    padding: .6rem .3rem;
}

.show-more2 a{
    color:  rgba(29, 155, 240);
    text-decoration: none;
}
.links{
    padding: 1rem 1.3rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.links a{
color:rgb(100, 100, 114);
padding-left: .2rem;
line-height: 1.2rem;
text-decoration: none;

}

.copy{
    color:rgb(100, 100, 114);
    
}

@media (max-width:1300px) {

    .aside-left{
        width: 10%;
        
    }
    
    .aside-icon{
        width: 10%;
        padding-bottom: 1.6rem;
    }

    .aside-icon div{
        display: none;
    }

    .aside-btn{
        display: none;
    }
    .aside2{
        padding-top: 0rem;
     
    }
    .profile-cont img{
        margin-left: -1rem;
    }
    .centre,
    .dot{
        display: none;
    }
    .create{
       display: block;
       margin-left: -2rem;
        
    }
    .create img{
        width: 5rem;
    }
    .main{
        width: 60%;
    }
    .header ul{
        width: 58%;
    }
   .aside-right{
    width: 30%;
   }
   
   .img-cont img{
    width: 2rem;
   }
   .follow-btn{
    padding: .2rem .5rem;
    font-weight: 400;
   }
   .padding1{
    padding-right: .4rem;
}
.padding2{
    padding-right: 4.5rem;
 
}
.padding3{
    padding-right: 2rem;
}
   .name{
    font-size: .8rem;
   }

   .show-more2{
    padding: .3rem .1rem;
   }
   .links{
   padding-left: .5rem;
   }
   .links a{
    padding-left: 0.15rem;

   }

}


@media (max-width:1000px) {
    .aside-right{
        display: none;
    }
    .aside-left{
        width: 20%;
    }
     .aside-icon{
        width: 20%;
      
    }
    .main{
        width: 80%;
    }
    .header ul{
        width: 78%;
    }
}

@media (max-width:750px) {
  .logo img{
    width: 1.5rem;
  }

  .line1{
    padding: .2rem .5rem;
  }

  #contents{
    font-size: 1rem;
  }

}

@media (max-width:710px) {
    .logo img{
      width: 1.5rem;
    }
  
    .line1{
      padding: .2rem .5rem;
    }
  
    #contents{
      font-size: .7rem;
    }
    .unique-name{
        font-size: .5rem ;
    }
    
  
  }

 @media (max-width:499px) {
    
.aside-left{
    display: none;
}
.home{
    display: none;
}
.header ul{
    font-size: .5rem;
   width: 100%;
}

.hidden{
    display: none;
}
.main{
    padding-top: 5rem;
    width: 100%;
    
}

#contents{
    padding-bottom: 2rem;
    padding-top: .2rem;
    justify-content: space-around;
    padding-right: .5rem;
    height: 100vh;
}
.packages{
    width: 90%;
    padding: auto;
   
}
.logo img{
    width: 3rem;
    padding: .3rem .1rem;
    /* margin: 1rem; */
   
}
.line1{
    padding: 0 .4rem;
    /* display: block; */
}

.line1 p{
   padding: 0 .4rem;
}

.line2{
    padding: 0;
    width: 60%;
    font-size: .8rem;
   line-height: 1rem;
    text-align: justify;
}
#new1,
#new2,
#new5{
    padding-left: 0;
    display: none;
}

#new3{
    padding-left: 0;
    display: none;
}

.reduce{
    width: 60%;
    
}
.line3{
    width: 60%;
}

.show-tweet{
    width: 80%;
}





  }

