@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: space-between;
    
}

body{
    position: fixed;
    background-color: rgba(0, 0, 0);
    overflow: hidden;
}

 /* =========================================================================================ASIDE LEFT ===================================
====================================================================================================== */

#twitter{
    padding-top: 1rem;
    font-size: 1.7rem;
    user-select: none;

}
#twitter:hover{
    background-color: none;
}
.aside-icon{
    display: flex;
    padding-bottom: 1.8rem;
    color: rgb(224, 213, 213);
    font-weight: thin;
    outline-width: 1px;

}
.aside1{
    padding-left: 5rem;
    align-items: center;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
   
}
.aside-left{
    z-index: 1000;
    width: 28%;
}


i{
    padding-right: 1.3rem;
  
}

.aside2{
    padding-top: 1rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
   color:  rgb(224, 213, 213);
   user-select: none;
}

.profile-cont img{
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.centre{
    margin-right: 1.4rem;
}

.aside-btn button{
    padding: .6rem 4.5rem;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(29, 155, 240);
    border-color: rgba(29, 155, 240);
    color: white;
    border: none;
    cursor: pointer;
}
.unique-name{
    color: rgb(141, 131, 131);
}


/* #notify{
position: relative;
}

.number{
position: absolute;
top: 0;
background-color:  rgba(29, 155, 240);
width: 20px;
padding: 1px 1px 1px 6px ;
border-radius: 70%;
top: 13.7rem;
font-size: 14px;
height: 1rem;
right: 15.6rem;
color: white;
border: none;
} */

/* ========================================================================================= MAIN  ===================================
====================================================================================================== */

.main{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 44%;
    overflow-y: scroll;
}
/* .nav{
    display: flex; 
    position: fixed;
    justify-content: space-evenly;
    align-items: flex-start;
    align-items: first baseline;
    flex-direction: column;
   color: white;
   background-color: red;

} */

.home{
    margin : .5rem 1rem 1.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;    
}
.header{
    /* width:100%; */
}
.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1rem;
    margin: 0 auto;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 8px 30px;
    color: white;
}
.header ul li a:hover{
    background-color: rgba(49, 46, 46, .5);
}

.mybox{
    display: flex;
    
}
.myimg{
    width: 3rem;
    border-radius: 50%;

}
textarea{
    color: white;
    font-size: 1rem;
    border-color: rgba(29, 155, 240);

  
}

textarea::placeholder{
    font-size: 1.2rem;
   padding: 10px;
   

}

/* =========================================================================================ASIDE RIGHT ===================================
====================================================================================================== */



.aside-right{
    width: 28%;
    height: 100vh;
   /*  display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    padding: 1rem;
}
.aside-right::-webkit-scrollbar{
    width: 10px;
}

.aside-right::-webkit-scrollbar-track{
    background-color: white;
}

.aside-right::-webkit-scrollbar-thumb{
    background: blue;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background-color: yellow;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.search-bar input{
    background: transparent;
    flex: 1;
    outline: none;
    border: none;

}
.search-bar button{
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
}

.search-cont:focus-within{
    outline: 1px solid red;
}
.search button{
    margin-left: 5px;
    width: 30px;
 /*    margin-right: -9px; */
    border-radius: 5px;
    border: none;
    outline: none;
    
}

.search-box{
    padding-right: 9rem;
    border-radius: 100px;
    margin-left: -2px;
    
  
}

.middle-aside-right{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: purple;
/*     margin: .3rem 1.5rem; */
    
}

.middle-aside-right h3{
    color: rgb(231,233,234);
    padding-bottom: .9rem;
    padding: .3rem 1.3rem 0 ;
}

.trend-cont{
    display: flex;
    justify-content: space-between;
    padding: .3rem 1.5rem;
    
}

.flex{
    margin-bottom: 10px;
}

.flex .trends{
    color: rgb(231,233,234);
}
.statistics,
.title{
    font-size: .9rem;
    color: rgb(82,86,91);
}

.dots{
    color: white;
}

.follow-cont{
    background-color: blue;
    margin-top: 1rem;
    border-radius: 1rem;
}


